*
{
    background-color: black;
    margin: 0px;
    color: white;
 
}
.nev
{
    font-size: 60px;
    text-align: center;
    font-variant: small-caps;
}


.etlap1
{
    text-align: left;
     margin-top: 130px;
     margin-left: 111px;
     font-size: 45px;
}
.etlap2
{
    text-align: center;
     font-size: 30px;
    margin-right: 10px;
    line-height: 0px;
    margin-top: 50px;
   
}
.etlap3
{
    text-align: center;
     font-size: 30px;
    margin-top: 0px;
    line-height: 0px;
}
.etlap4
{
    text-align: center;
     font-size: 30px;
     margin-left: 500px;
     line-height: 0px;
}

.eloetel
{
    text-align: center;
    font-size: 20px;
   margin-right: 500px;
   line-height: 0px;
   margin-top: 50px;
  
}

.vissza
{
    text-align: right;
    font-size: 30px;
    margin-top: 500px;
    margin-right: 150px;
}
.vissz
{
    float: right;
    text-align: right;
    font-size: 30px;
    margin-top: 2px; 
    margin-right: 140px; 
}
.csirkemajkrem
{
 width: 20%;
 height: 10%;
 margin-top: 20px;
 margin-top: 15px;
 margin-right: 150px;
}
.veloetel
{
    text-align: right;
    font-size: 30px;
    margin-top: 500px;
    margin-left:150px;
}
.edes
{
    margin-top: 15px;
    margin-right: 150px;
}

.edesburg
{
 width: 20%;
 height: 20%;
 margin-top: 20px;
 margin-right: 150px;
}
.csalanos
{
    margin-top: 15px;
    margin-right: 150px; 
}
.kaj1
{
    margin-top: 15px;
    margin-right: 150px;
}
.foetel
{
    text-align: right;
}
#fotel
{
    text-align: right;
    float: right;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 150px;
}
.csalan
{
    width: 20%;
    height: 20%;
    margin-top: 20px;
    margin-right: 150px;
}
.cezar
{
    margin-top: -565px;
    margin-left: 500px;
}
.cezar1
{
    width: 20%;
    height: 20%;
    margin-top: 20px;
    margin-left: 500px;
}
.babb
{
    margin-left:  501px; 
    margin-top: 15px; 
}
.bab1
{
    height: 21%;
    width: 20%;
    margin-top: 15px;
    margin-left:500px;  
}
.zsemle
{
    margin-left:  501px; 
    margin-top: 15px; 
}
.zsemle1
{
    height: 21%;
    width: 20%;
    margin-top: 21px;
    margin-left:500px;   
}